@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input{
  background-color: #f2f2f2;
}
html {
  color-scheme: dark;
}
body {
  overflow-x: hidden;
  background: white;
  color: black;
 
}
.satoshi{
  font-family: 'Satoshi';
}
.slick-prev:before, .slick-next:before {
  color: grey!important;
  border: 2px solid grey;
  /* background-color: ; */
}
.slick-current{
  scale: 1.038; 
  transition: scale 900ms;
}
.slick-slide{
  position: relative;
}
.slick-dots{
bottom: -41px !important;
}
.slick-prev, .slick-next{
  margin: 0 -8px;
}
.slick-dots li button:before{
 
  font-size: 16px !important;
  
}
/* .slick-slide{
  display: block;
}
.slick-track{
  display: grid;
  background-color: green;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
} */