/* @import url('https://fonts.cdnfonts.com/css/clash-display'); */
/* @import url('https://fonts.cdnfonts.com/css/satoshi'); */
.container {
  /* padding: 0 2rem; */
}
.featuredText{
  font-family: 'STIX Two Text';
}
.miniText{
  font-family: 'Satoshi';
}
.homeBanner{
  background: linear-gradient(to right , rgba(70, 147, 237, 1),
  rgba(121, 194, 210, 1),
  rgba(192, 86, 9, 0.49)) 49%;
  max-width: 1440px;
width: 100%;
border-radius: 0px;
}
.clashFont{
  font-family: 'Clash Display';
 font-style: Exralight;
 Fill: Solid
rgba(0, 0, 0, 0.57);

/* font-weight: 0; */
}