.container {
  /* padding: 0 2rem; */
}
.featuredText{
  font-family: 'STIX Two Text', serif;
}
.miniText{
  font-family: 'Satoshi';
/* background-color: #000000b3; */
}
.homeBanner{
  background: linear-gradient(to right , rgba(70, 147, 237, 1),
  rgba(121, 194, 210, 1),
  rgba(192, 86, 9, 0.49)) 49%;
  max-width: 1440px;
width: 100%;
border-radius: 0px;
}